<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>236467601103-qaluard0h6fd95q92kd2hspu2c42v8cn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.236467601103-qaluard0h6fd95q92kd2hspu2c42v8cn</string>
	<key>API_KEY</key>
	<string>AIzaSyBWdI17L593L2eX71DoOJ4C6snjwLRZrPo</string>
	<key>GCM_SENDER_ID</key>
	<string>236467601103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Anish.travis-ci-integration</string>
	<key>PROJECT_ID</key>
	<string>travis-ci-integration</string>
	<key>STORAGE_BUCKET</key>
	<string>travis-ci-integration.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:236467601103:ios:eafb00f279546538d201ba</string>
	<key>DATABASE_URL</key>
	<string>https://travis-ci-integration.firebaseio.com</string>
</dict>
</plist>